@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Dancing+Script:wght@400..700&display=swap");

body {
  background-color: rgba(2, 1, 44, 1);
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  color: whitesmoke;
}
header {
  animation: headerGlow 3s infinite;
  padding: 2rem;
  text-align: center;
}

@keyframes headerGlow {
  0% {
    color: white;
  }
  33% {
    color: orange;
  }
  66% {
    color: blue;
  }
  100% {
    color: white;
  }
}
.relative {
  background-image: url(assets/images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.current {
  background-image: url(assets/images/bg-today-large.svg);
}
.forecast {
  background-color: rgba(38, 37, 64, 1);
}
/* TODAYS HIGHLIGHT SECTION */
.humidity,
.wind,
.uv,
.feel, 
/* HOURLY FORECAST SECTION */
.first,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eight,
/* DAILY FORECAST SECTION */
.sun,
.mon,
.tue,
.wed,
.thu,
.fri,
.sat {
  background-color: rgba(48, 47, 74, 1);
}
.attribution {
  padding: 2rem;
}
.attribution a {
  animation: headerGlow 3s infinite;
}

@keyframes headerGlow {
  0% {
    color: white;
  }
  33% {
    color: orange;
  }
  66% {
    color: blue;
  }
  100% {
    color: white;
  }
}

/* MEDIA QUERIES */
@media screen and (min-width: 330px) and (max-width: 450px) {
  .search-func{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .relative{
    width: 250px; 
  }
  .button{
    width: 250px;
  }
  .current{
    /* width:250px; */
     display: flex;
    flex-direction: column;
    align-items: center;
  }
}
